extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	include index/slider
	include index/pic-menu
	include index/promo
	include ../modules/recommended
	include index/popular
	include index/video
	include index/do-not-miss
	include index/subscride
	include index/news
	include index/advantages




