.g-btn
  height: 50px
  padding: 0 20px
  text-transform: uppercase
  background-color: #fff
  display: inline-block
  line-height: @height
  text-decoration: underline
  border 0
  cursor: pointer
  
  &.g-btn--black
    background-color: blackColor
    color: #fff

  &.g-btn--no-under
    text-decoration: none



.content-center
  text-align: center