section.pic-menu
    .container
        .pic-menu__line
            .pic-menu__50
                .pic-menu__line
                    .pic-menu__25
                        .pic-menu__item(style="background-image:url('static/img/content/pic-menu/furnitura.jpg')")
                            .pic-menu__nav
                                a(href="javascript:void(0)").pic-menu__title Мебель
                                ul.pic-menu-list
                                    li.pic-menu__list-item
                                        a(href="javascript:void(0)") Кухни
                                    li.pic-menu__list-item
                                        a(href="javascript:void(0)") Столы
                                    li.pic-menu__list-item
                                        a(href="javascript:void(0)") Стулья
                                    li.pic-menu__list-item
                                        a(href="javascript:void(0)") Барная мебель
                                    li.pic-menu__list-item
                                        a(href="javascript:void(0)") Еще 15 разделов
                    .pic-menu__25
                        .pic-menu__item(style="background-image: url('static/img/content/pic-menu/wine.jpg')")
                            .pic-menu__nav
                                a(href="javascript:void(0)").pic-menu__title Мебель
                                ul.pic-menu-list
                                    li.pic-menu__list-item
                                        a(href="javascript:void(0)") Кухни
                                    li.pic-menu__list-item
                                        a(href="javascript:void(0)") Столы
                                    li.pic-menu__list-item
                                        a(href="javascript:void(0)") Стулья
                                    li.pic-menu__list-item
                                        a(href="javascript:void(0)") Барная мебель
                                    li.pic-menu__list-item
                                        a(href="javascript:void(0)") Еще 15 разделов
                .pic-menu__line
                    .pic-menu__item(style="background-image: url('static/img/content/pic-menu/appliances.jpg')")
            .pic-menu__item.pic-menu__item-big(style="background-image: url('static/img/content/pic-menu/big.jpg')")
        .pic-menu__line
        .pic-menu__line
