section.index-sleder
    .index-slider__cont
    .js-index-slider
        .index-sleder__item
            img(src="static/img/content/main-slider/slider1.jpg" alt="Слайдер на главной странице").index-slider__img
        .index-sleder__item
            img(src="static/img/content/main-slider/slider1.jpg" alt="Слайдер на главной странице").index-slider__img
        .index-sleder__item
            img(src="static/img/content/main-slider/slider1.jpg" alt="Слайдер на главной странице").index-slider__img
