footer
  position: relative
  padding: 60px 0
  background: url("../img/general/footer-bg.jpg") center
  background-size: cover



  .main-nav
    margin-bottom: 30px


.footer
  display: flex
  padding-top: 25px
  border-top 1px solid grey

  align-items: flex-start

.footer-copyright
  margin-right: 40px

.copyright
  display: block
  color: #ffffff
  margin-bottom: 15px
  font-size: rem(15px)


.footer__social-list
  margin-bottom: 35px

.footer-rules__link
  color: #ffffff
  border-bottom: 1px solid grey

.footer__payment-type
  max-width: 170px
  margin-right: 50px

.payment-type__title
  display: block
  font-size: rem(15px)
  margin-bottom: 15px
  color: #ffffff

.payment-type__list
  display: flex
  justify-content: space-between
  flex-wrap wrap

.payment-type__item
  width: 48%

  .icon
    fill white
    size(75px,35px)



.footer-nav
  display: flex
  justify-content: space-between
  flex-shrink 0

.footer-nav__list
  width: 49%
  &:first-child
    margin-right: 50px

.footer-nav__item
  margin-bottom: 10px
  &:last-child
    margin-bottom: 0

.footer-nav__link
  color: #ffffff
  border-bottom: 1px solid grey
  white-space nowrap

.footer-subscribe-form
  .g-label
    margin-bottom: 5px
    display: block


.footer-subscribe-form__line
  display: flex
  justify-content: space-between

  .g-input
    margin-right: 10px

.footer-contacts
  margin-left: auto

.footer-contacts__line
  margin-bottom: 30px

.footer__phone
  margin-right: 10px
  color: #ffffff

.footer__feedback
  font-size: rem(15)
  color: #ffffff
  border-bottom: 1px solid grey

